<div id="particles-js"> 
  <section id="ServerError">
      <div class="background" id="background" style="left: -4.18424%; right: -4.18424%; top: -5.59548%; bottom: -5.59548%; z-index: -1;"></div> 
      <div class="truc-a-centrer">
        <div class="truc-a-centrer">

          <h1 class="text-shadow text-white"  >Server 
            error </h1>
        </div>
        <script type="text/javascript">
                        $('#background').mouseParticles({ moveFactor: 5 });
                    </script>
            
    </div>
</section>
    
    <div class="footer">
      <div class="attibution">
        Copyright &copy; {{dateNow | date: 'yyyy'}}, All rights reserved by aero-it.net
    </div>
    
  </div>
</div>