<form id="new_agency">
    <div class="container-fluid">
        <div id="ui-view">
            <div>
                <div class="animated fadeIn">
                    <div class="card">
                        <div class="card-header">
                            <div style="float: left;margin: auto; width: 50%; padding: 10px;">
                                <strong>Agency</strong>
                                <small> Client</small>
                            </div>
                            <div style="float: right;margin: auto;">
                                <button [routerLink]="['ListAgencies']" class="btn btn-raised btn-info mr-1" type="button" id="Edit">
                                    <i class="fa  fa-list"></i> List
                                </button>
                                <button class="btn btn-raised btn-primary" type="button" id="Save" (click)="addClient(company_name.value,companycode.value,street.value,city.value,postal_code.value,country.value,Full_name_legacy.value,VAT_number.value,IATA_number.value,Title.value,First_name.value,Middle_name.value,Last_name.value,Phone1.value,Phone2.value,Fax.value,WebSite.value,Email.value)">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Company</strong>
                                            <small> Details</small>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="company_name">Company</label>
                                                <input #company_name type="text" class="form-control" id="company_name" autocomplete='company'>
                                            </div>
                                            <div class="form-group">
                                                <label for="companycode">TRADE REGISTER NUMBER *</label>
                                                <input #companycode type="text" class="form-control" id="companycode">
                                            </div>
                                            <div class="form-group">
                                                <label for="street">Street</label>
                                                <input #street type="text" class=" form-control " id="street" autocomplete='address-line1'>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-8">
                                                    <label for="city">City</label>
                                                    <input #city type="text" class="form-control" id="city" autocomplete='address-level2'>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="postal_code">Postal Code</label>
                                                    <input #postal_code type="text" class="form-control" id="postal_code" autocomplete='postal-code'>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="country">Country</label>
                                                <input #country type="text" class="form-control" id="country" autocomplete='country-name'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Additional</strong>
                                            <small> Informations</small>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="Full_name_legacy">Full name of legal entity</label>
                                                <input #Full_name_legacy type="text" class="form-control" id="Full_name_legacy" autocomplete='name'>
                                            </div>
                                            <div class="form-group">
                                                <label for="VAT_number">VAT number*</label>
                                                <input #VAT_number type="text" class="form-control" id="VAT_number">
                                            </div>
                                            <div class="form-group">
                                                <label for="IATA_number">IATA number*</label>
                                                <input #IATA_number type="number" class="form-control" id="IATA_number">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="logo" style="float: left;">Logo </label>
                                                        <div style="display: table; width:100%;">
                                                            <div style="display: table-cell; vertical-align: middle;">
                                                                <div style="float: left;">
                                                                    <input #Logo type="file" id="Logo" name="Logo">
                                                                </div>
                                                                <div style="float: right;">
                                                                    <style>
                                                                        .dropshadowclass {
                                                                            padding: 5px;
                                                                            border: solid 1px #1CBCD8;
                                                                        }
                                                                    </style>
                                                                    <img class="dropshadowclass" id="Logo_preview" height="120" width="120" src="{{LOGO}}" alt="your Logo" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Contact</strong>
                                            <small> Person</small>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="Title">Title </label>
                                                        <select #Title id="Title" name="Title" class="form-control" autocomplete='title'>
                                                            <option disabled>Please select</option>
                                                            <option value="Mr">Mr</option>
                                                            <option value="Miss">Miss</option>
                                                            <option value="Mme">Mme</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="First_name">First name</label>
                                                        <input #First_name type="text" class="form-control" id="First_name" autocomplete='given-name'>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="Middle_name">Middle name</label>
                                                        <input #Middle_name type="text" class="form-control" id="Middle_name" autocomplete='additional-name'>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="Last_name">Last name</label>
                                                        <input #Last_name type="text" class="form-control" id="Last_name" autocomplete='family-name'>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <label for="Phone1">Phone 1 *</label>
                                                    <input #Phone1 type="text" class="form-control" id="Phone1" autocomplete='tel'>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="Phone2">Phone 2</label>
                                                    <input #Phone2 type="text" class="form-control" id="Phone2" autocomplete='tel2'>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="Fax">Fax *</label>
                                                        <input #Fax type="text" class="form-control" id="Fax" autocomplete='tel-national'>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label for="WebSite">Web site URL *</label>
                                                    <input #WebSite type="text" class="form-control" id="WebSite">
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label for="Email">E-mail *</label>
                                                    <input #Email type="text" class="form-control" id="Email" autocomplete='email'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float: right;margin: auto;">
                                <button class="btn btn-raised btn-primary" type="button" id="Save">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>